@import './variables';
@import './components/import';
@import './layouts';

body {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 536px);
  row-gap: 48px;
  column-gap: 48px;
  @include main-layout;

  @media (max-width: 1720px) {
    grid-template-columns: repeat(2, 536px);
  }

  @media (max-width: 1130px) {
    grid-template-columns: 536px;
  }
}

.button-more-container {
  margin-top: 72px;
  width: 100%;
  display: flex;
  justify-content: center;
}
