$grey-1: #a1a7b5;
$grey-2: #81899d;
$grey-3: #222327;
$grey-4: #17171a;

$bg-preloader: #eef2f8;

$button-bordered-default: #002dbf;

$link-default: #0c5bef;
$link-hover-default: #0029a9;
$link-dark-default: #00133a;

$card-border: #0f62fe;

$bg-light: #f0f6fe;
$bg-banner: #c2d5e7;
