.button-base {
  $this: &;
  cursor: pointer;
  background: transparent;
  border: 1px solid $button-bordered-default;
  border-radius: 8px;
  padding: 16px 32px;
  color: $button-bordered-default;
  width: fit-content;
  font-size: 20px;
  letter-spacing: -1%;
  line-height: 120%;
  transition: opacity 120ms ease-out;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &.loading {
    pointer-events: none;
    cursor: default;
    position: relative;

    #{$this}__text {
      opacity: 0;
      user-select: none;
    }
  }

  &__loader {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 14px;
    left: calc(50% - 15px);
    border: 3px solid $button-bordered-default;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: rotate 1s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
